/* Geral (todas as páginas) */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins';
    color: white;
    background-color: #0F1121;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

button{
    font-family: 'Poppins';
    color: #fff;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
}

a{
    color: #fff;
}

input{
    font-family: 'Poppins';
}

/* fim do geral */

/* Pagina inicial login*/

#all{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.esquerda{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda h1{
    width: 70%;
    font-size: 30px;
    text-align: center;
}

.esquerda p {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 12px;
    color: gray;
}

.btn{
    background-color: #6BF2F2;
    width: 12vw;
    height: 6vh;
    border-radius: 20px;
    cursor: pointer;
    top: 50px;
    font-weight: 700;
    color: white;
}

#coders{
    height: 50vh;
    width: 80vh;
}

#logoImagem{
    margin-top: 3%;
    height: 13vh;
    width: 17vh;
}

#logoLetras{
    height: 6vh;
}

.direita{
    height: 100%;
    width: 40%;
    background-color: #393c4b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direita h1{
    font-size: 28px;
}

.headerLogo{
    width: 37%;
    top: 0;
    height: 10vh;
    margin-top: 2%;
    margin-left: 3%;
    position: absolute;
}

.iptLogin{
    background-color: #41465A;
    width: 70%;
    height: 10%;
    margin-bottom: 4%;
    display: flex;
}

.iptLoginTextos{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.iptLogin h3{
    color: #6BF2F2;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 0;
    height: fit-content;
}

.imgIptLogin{
    height: 100%;
    width: 15%;
    border-right: #72758f solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputsLogin{
    background-color: #41465A;
    width: 100%;
    height: 80%;
    border: none;
    margin-left: 2%;
    color: white;
}

.olho{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.olho img{
    margin-top: 15%;
    margin-right: 25%;
    cursor: pointer;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.botaoLogin{
    background-color: #6BF2F2;
    width: 70%;
    height: 5%;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
/* fim login */

/* Início Cadastro */

#conteudo{
    background-color: #393c4b;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 100vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Fim Cadastro */

/* Tela Home */
/* Menu lateral */
.sidebar *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #393c4b;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    display: flex;
    height: 50px;
    width: 100%;
    color: #fff;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.sidebar .logo_content .logo img{
    height: 30px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn_menu {
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn_menu{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;   
}

.sidebar ul li{
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip {
    color: black;
    position: absolute;
    height: 35px;
    width: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    left: 122px;
    top: 0;  
    transform: translate(-40%, -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    top: 52%;
    transition: all 0.5s ease;
    opacity: 1;
} 

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    
}


.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li a:hover i{
    background-color: #fff;
    color: #393c4b;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    padding: 10px 6px;
    height: 70px;
    position: relative;
    transition: all 0.4s ease;
    background: none;
}

.sidebar.active .profile_content .profile{
    background: #41465A;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile #logout{
    position: absolute;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
    min-width: 50px;;
    line-height: 50px;
    font-size: 25px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #41465A;
    cursor: pointer;
}

.sidebar.active .profile #logout{
    left: 88%;
    background: none;
}

/* Fim menu lateral*/

/* Conteúdo da home */
.home_content{
    position: absolute;
    height: 100%;
    left: 85px;
    display: flex;
    width: calc(100% - 85px);
    transition: all 0.5s ease;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 12px;
}

.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 270px;
}

/* Fim Conteúdo Home */

/* Início página perfil */

.update_picture{
    width: 85%;
    height: 25%;
    background-color: #393c4b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 5px 10px 18px black;
    z-index: 1;
}

.update_picture img{
    border-radius: 100%;
    height: 100px;
    margin: 0;
    margin-left: 50px;
}


.change_pictureText{
    display: flex;
    flex-direction: column ;
    margin-left: 10px;
    justify-content: center;
}

.change_pictureText h1{
    font-size: 25px;
    margin: 0;
    font-weight: lighter;
}

.change_pictureText h4{
    font-size: 15px;
    margin: 0;
    font-weight: lighter;
}

#ipt_profileImg{
    display: none;
}

.upload_img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #0F1121;
    height: 40px;
    width: 80px;
    cursor: pointer;
    margin-right: 50px;
}

.user_information{
    width: 85%;
    height: 53%;
    background-color: #393c4b;
    margin-top: 5%;
    position: relative;
    z-index: 1;
    box-shadow: 5px 10px 18px black;
}

.user_information h1{
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 30px;
    margin-left: 50px;
}

.user_information h4{
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
    margin-left: 50px;
}

.account_info{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.ipt_informations{
    background-color: #41465A;
    border: none;
    margin-left: 50px;
    color: white;
    height: 40px;
    width: 80%;
    text-indent: 15px;
    border: #0F1121 solid 2px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.btn_update{
    background: none;
    border: #0F1121 solid 2px;
    border-radius: 8px;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.div_btn_update{
    display: flex;
    justify-content: center;
}